.kanangile {
    float: right !important;
    margin-right: 0px !important;
}

#topbg{
    background-image: url(img/landscape.jpg);
    background-size: cover;
    height: 700px;
}

h2,h3{
    text-align: center;        
}

/* #tableprice{
    margin: 0% 10%;
} */

#pricetable{
    margin: auto;
}

.ex{
    padding-left: auto;
    padding-right: auto;
}

.fp{
    background-color: #78CFBF;
    color: white;
}

.sp{
    background-color: #3EC6E0;
    color: white;
}

.pp{
    background-color: #E3536C;
    color: white;
}

.nopad {padding-left: 0px !important; padding-right: 0 !important;}