.navbarSupportedContent{
    padding-right: 0 !important;
    padding-left: auto !important;
}

#topbg{
    background-image: url(landscape.jpg);
    background-size: cover;
    height: 700px;
}

h2,h3{
    text-align: center;        
}

#tableprice{
    margin: 0% 10%;
}

.fp{
    background-color: #78CFBF;
    color: white;
}

.sp{
    background-color: #3EC6E0;
    color: white;
}

.pp{
    background-color: #E3536C;
    color: white;
}

.white-text{
    color: #FFFFFF !important;
}